mixin footer()
  +b.FOOTER.footer
    .container
      +e.row.row.gy-4
        +footerMenu('Клиентам')
          li: a(href='#') Услуги
          li: a(href='#') Кейсы
          li: a(href='#') Блог
          li: a(href='#') Контакты
        +footerMenu('Решения')
          li: a(href='#') Сайты
          li: a(href='#') Мобильные приложения
          li: a(href='#') Веб приложения
          li: a(href='#') Еще тип решения
        +footerMenu('Услуги')
          li: a(href='#') Услуга
          li: a(href='#') Еще услуга
          li: a(href='#') Снова услуга
          li: a(href='#') Услуга
      +e.contacts-row.row
        .col-lg
          +e.city Москва, Московская облать
          +e.street ул. Дзержинского, подъезд 2, этаж 3, офис 45
        .col-lg-auto
          +e.c-link--mail(href='mailto:sample@sample.com') sample@sample.com
        .col-lg-auto
          +e.c-link--tell(href='tel:88005686688') 8 800 568 66 88
      +e.lower-row.gy-3.row.align-items-center
        .col-lg.text-center.text-lg-start
          +e.all-rights © 2020. Все права защищены
        .col-sm.col-lg-auto.text-center.text-sm-start
          +e.lower-link(href='#') Политика конфиденциальности
        .col-sm-auto.text-center.text-sm-start
          +e.lower-link(href='#') Пользовательское соглашение

mixin footerMenu(title)
  .col-6.col-sm-4.col-xl-3
    +e.title=title
    +e.menu
      ul
        block