mixin modal()
	//  start modals
	+b.modal-win(id="learn-more" style="display: none")
		+form-wrap
			+e.title-wrap
				+e.title.h3.mb-3 Узнайте больше
				+e.descr Заполните форму и мы свяжемся с Вами в течении 20 минут и сориентируем по всем вопросам
			+inp3('Название компании', 'text', 'company')
			+inp3('E-mail', 'email', 'email')(value="Sample@sample.com")
			+inp3('Название компании', 'text', 'name')
			+e.send-btn(type='button') Отправить
			+e.polite
				| При отправке вы подтверждаете согласие
				br
				| с
				|
				a(href='#') политикой конфиденциальности
	// #modal-call
	+b.modal-win(id="learn-stab" style="display: none")
		+form-wrap
			+e.title-wrap
				+e.title.h3.mb-3 Заголовок
				+e.descr Заполните форму и мы свяжемся с Вами в течении 20 минут и сориентируем по всем вопросам
			+inp3('Название компании', 'text', 'company')
			+inp3('ИНН', 'text', 'inn')
			+e.SELECT.select.form-control.form-select.repaint-select-js
				option(muted selected class="d-none") Род деятельности
				option placeholder 1
				option placeholder 2
				option placeholder 3
			+inp3('E-mail', 'email', 'email')(value="Sample@sample.com")
			+inp3('Название компании', 'text', 'name')
			+e.send-btn(type='button') Отправить
			+e.polite
				| При отправке вы подтверждаете согласие
				br
				| с
				|
				a(href='#') политикой конфиденциальности
	// #modal-call

	// end modals

mixin inp3(ph, type, val='', labelClass='custop-ph-label', name="name")
	label(class=labelClass)
		+e.INPUT.input.form-control.has-ph-js(type=type name= name)&attributes(attributes)
		+e.SPAN.l-title=ph
		block