.modal-win {
	width: 100%;
	position: relative;
	max-width: rem(488);
	padding: rem(33) rem(40) rem(36);

	.modal-content {

	}
	.form-wrap{
		
	}

	//.mfp-close {
	//	color: $primary;
	//	font-size: 40px;
	//	font-weight: 100;
	//}
}

.modal-form {
	position: relative;
}

.mfp-close {
	user-select: none;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	line-height: 56px;
	margin-top: -5px;
	margin-right: -5px;
	padding: 8px!important;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

.fancybox-button.fancybox-close-small{
	padding: 8px!important;
	//width: 32px;
	//height: 32px;
}