.modal-win {
	width: 100%;
	position: relative;
	max-width: rem(488);
	padding: rem(33) rem(40) rem(36);

	.modal-content {

	}
	.form-wrap{
		&__title-wrap{
			padding-bottom: 20px;
			margin-bottom: 24px;
			border-bottom: 1px solid rgba($brown, .1);
		}
		&__title{

		}
		&__descr{
			font-weight: 500;
			line-height: 1.6;
			color: $brown;
		}
		.label{
			position: relative;
			margin-bottom: rem(24px);

			input.not-empty,
			input:focus {
				background-color: $white;
				padding-top: rem(27px);
				padding-bottom: rem(7px);
			}

			input.not-empty + span,
			input:focus + span,
			textarea.not-empty + span,
			textarea:focus + span {
				top: rem(10px) !important;
				font-size: rem(12) !important;
				color: $brown!important;
				text-shadow: 0 0 .7px rgba($brown, .8);
			}

		}
		&__l-title {
			@include mt();
			position: absolute;

			top: calc(#{$input-padding-y});
			left: calc(#{$input-padding-x} + #{$input-border-width});

			font-weight: 500;
			text-shadow: 0 0 .7px rgba($brown, .5);

			line-height: $input-line-height;

			font-size: rem(16);
			color: rgba($brown, 0.5);

			&--select{
				top: rem(10px) !important;
				font-size: rem(12) !important;
				color: $brown!important;
				text-shadow: 0 0 .7px rgba($brown, .8);
			}
		}

		&__input {
			background-color: $gray-110;
			height: 56px;
		}

		&__send-btn{
			@extend .btn;
			@extend .btn-primary;

			width: 100%;
			margin-bottom: rem(24px);
		}
		&__polite{
			text-shadow: 0 0 .7px rgba($brown, .8);
			font-size: rem(12px);
			line-height: 1.3;
			color: $brown;

			a{
				@include mt();
				color: currentColor;
				text-decoration: underline!important;
				&:hover{
					text-decoration: none!important;
					opacity: .8;
				}
			}
		}
		&__select{
			background-color: $input-border-color;

			padding-top: rem(27px);
			padding-bottom: rem(7px);

			&.not-empty,
			&:focus{
				background-color: $white;
			}

			margin-bottom: 24px;
		}

		&__{}
	}

	//.mfp-close {
	//	color: $primary;
	//	font-size: 40px;
	//	font-weight: 100;
	//}
}

.modal-form {
	position: relative;
}

.mfp-close {
	user-select: none;
	position: absolute;
	right: 0;
	top: 0;
	text-decoration: none;
	text-align: center;
	font-style: normal;
	font-size: 28px;
	font-family: Arial, Baskerville, monospace;
	overflow: visible;
	cursor: pointer;
	background: 0 0;
	border: 0;
	display: block;
	outline: 0;
	z-index: 1046;
	box-shadow: none;
	color: $body-color;
	opacity: 1;
	font-size: 50px;
	font-weight: 100;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	line-height: 56px;
	margin-top: -5px;
	margin-right: -5px;
	padding: 8px!important;
	@include mt;

	&:hover {
		// background-color: #e3f3f6;
	}
}

.fancybox-button.fancybox-close-small{
	padding: 8px!important;
	//width: 32px;
	//height: 32px;
}