mixin sActions(data)
	// start sActions
	+b.sActions.section#sActions&attributes(attributes)
		.container
			ol
				li: span Мы&nbsp;упростили  и&nbsp;автоматизировали процессы инвентаризации для&nbsp;эффективной деятельности персонала&nbsp;компании
				li: span Продумали  возможность контроля&nbsp;и&nbsp;учета  товаров в&nbsp;реальном времени
	// end sActions