mixin sMetrics(data)
	// start sMetrics
	+b.SECTION.sMetrics.section#sMetrics&attributes(attributes)
		img(src="img/svg/sMetrics-img.svg" loading="lazy", alt="")
		.container
			h2 Единая площадка  с&nbsp;метриками
			p Выделенному кругу пользователей становится доступна единая инвентаризационная система.

			p Используя личный кабинет, согласно ролям, участник получает доступ к&nbsp;своим персональным возможностям по&nbsp;управлению и&nbsp;аналитике пространства компании.
	// end sMetrics