:root {
	--animate-delay: 1.2s;

	--sPT: #{rem(40)};
	--sPB: #{rem(45)};
	--sTPB: #{rem(35)};
	--fontSizeBase: 14px;
	@include media-breakpoint-up(md){
		--sPT: #{rem(50)};
		--sPB: #{rem(60)};
		--sTPB: #{rem(40)};
		--fontSizeBase: 15px;
	}
	@include media-breakpoint-up(xl){
		--fontSizeBase: #{$em-base};
	}

	--topHeight: 82px;
	@include media-breakpoint-up(xxl){
		--topHeight: 98px;
	}

	--swiperArrowSize: #{rem(68)};
	--swiperArrowPosition: calc(-1 * var(--swiperArrowSize) / 2);
	--swiperBorderColorDef: var(--bs-primary);
	--swiperColorDef: var(--bs-primary);
	--swiperBgDef: #ffffff;

	--swiperBorderColorDefHover: var(--bs-primary);
	--swiperColorDefHover: var(--bs-primary);
	--swiperBgDefHover: #ffffff;
}
