mixin sDesisions(data)
	// start sDesisions
	+b.SECTION.sDesisions.section#sDesisions&attributes(attributes)
		+e.bg--top
			img(loading="lazy" src="img/svg/desisicons-triangle.svg" alt="")
		+e.container.container
			+e.big-bg
				img(loading="lazy" src="img/svg/desisions-bg.svg" alt='')
			+b.section-title
				h2 Решения
			+e.row.row
				+desisionItem('Инвентаризация', '1.jpg')
				+desisionItem('CRM - система', '2.png')
				+desisionItem('ЖКХ ', '3.jpg')
				+desisionItem('Система оценки чемпионатов', '4.png')
				+desisionSmItem('Инвентаризация')
				+desisionSmItem('CRM - система')
				+desisionSmItem('ЖКХ')
				+desisionSmItem('Система оценки чемпионатов')
	// end sDesisions

mixin desisionItem(title, imgNum)
	+e.col.col-6
		+e.txt-box.d-none.d-lg-block
			+e.title(href='#')=title
			+e.txt РусТехнолоджи предоставляет услуги полного цикла по разработке, внедрению и сопровождению IT-решений.
		+e.img(href="#")
			img(loading="lazy" src=`img/@2x/desisions-img-${imgNum}` alt="")

mixin desisionSmItem(title)
	.col-md-6.d-lg-none
		+e.txt-box
			+e.title=title
			+e.txt РусТехнолоджи предоставляет услуги полного цикла по разработке, внедрению и сопровождению IT-решений.