mixin sDesisions(data)
	// start sDesisions
	+b.SECTION.sDesisions.section#sDesisions&attributes(attributes)
		+e.bg--top.slideInRight.wow(data-wow-duration='.4s' data-wow-delay='.3s')
			img(loading="lazy" src="img/svg/desisicons-triangle.svg" alt="")
		+e.container.container.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
			+e.big-bg
				img(loading="lazy" src="img/svg/desisions-bg.svg" alt='')
			+b.section-title
				h2 Решения
			+e.row.row
				+desisionItem('Инвентаризация', '1.jpg')
				+desisionItem('CRM - система', '2.png')
				+desisionItem('ЖКХ ', '3.jpg')
				+desisionItem('Система оценки чемпионатов', '4.png')
				//+desisionSmItem('Инвентаризация')
				//+desisionSmItem('CRM - система')
				//+desisionSmItem('ЖКХ')
				//+desisionSmItem('Система оценки чемпионатов')
	// end sDesisions

mixin desisionItem(title, imgNum)
	+e.col.col-md-6
		+e.txt-box
			+e.title(href='#')=title
			+e.txt РусТехнолоджи предоставляет услуги полного цикла по разработке, внедрению и сопровождению IT-решений.
		+e.img(href="#")
			+pic(`desisions-img-${imgNum}`)

mixin desisionSmItem(title)
	.col-md-6.d-lg-none
		+e.txt-box
			+e.title=title
			+e.txt РусТехнолоджи предоставляет услуги полного цикла по разработке, внедрению и сопровождению IT-решений.