// start .sDesisions
.sDesisions {
	--img-h: #{rem(140)};
	@include media-breakpoint-up(sm){
		--img-h: #{rem(250)};
	}
	@include media-breakpoint-up(lg){
		--img-h: #{rem(300)};
	}
	@include media-breakpoint-up(xl){
		--img-h: #{rem(330)};
	}
	@include media-breakpoint-up(xxl){
		--img-h: #{rem(382)};
	}
	position: relative;
	z-index: 3;
	@include media-breakpoint-up(lg){
		--sPT: #{rem(86)};
		--sPB: #{rem(49)};
		--sTPB: #{rem(31px)};
	}

	&__bg{
		position: absolute;
		z-index: -1;

		&--top{
			top: 0;
			right: 0;

			overflow: hidden;

			width: rem(123);
			height: rem(123);
			@include media-breakpoint-up(xxl){
				width: rem(150);
				height: rem(150);
			}
			img{
				position: absolute;
				bottom: 0;
				right: 0;
			}
		}
	}

	&__container{
		position: relative;
		z-index: 1;

		@include media-breakpoint-up(xxl){
			padding-left: 10px;

		}
	}
	&__big-bg{
		position: absolute;
		z-index: -1;
		width: auto;
		height: auto;
		max-width: 100%;

		top: 20%;
		left: 50%;
		transform: translateX(-50%);
		@include media-breakpoint-up(lg){
			top: 52%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}

		img{
			max-width: 100%;
		}
	}
	.section-title{

		h2{

		}
	}
	&__row{
		--bs-gutter-y: #{rem(30)};
	}
	&__col{
		@include media-breakpoint-up(lg){
			min-height: var(--img-h);
			display: flex;
			position: relative;
		}
		&:nth-child(1){
			//clip-path: polygon(100% 27%, 100% 75%, 64% 100%, 0% 100%);
			--clip-path: polygon(100% 0%,100% 75%,75% 100%,0% 100%);
			--img-bottom: 0;
			--img-right: 15px;

			padding: 15px;
			@include media-breakpoint-up(xxl){
				padding: 77px 0 0 10px;
			}
		}
		&:nth-child(2){
			--clip-path: polygon(100% 100%,25% 100%,0 75%,0 0);
			--img-bottom: 0;
			--img-left: 15px;

			padding: 15px;
			@include media-breakpoint-up(xxl){
				padding: 77px 10px 0 10px;
			}
			justify-content: flex-end;
		}
		&:nth-child(3){
			--clip-path: polygon(100% 25%,100% 100%,0 0,75% 0);
			--img-top: 0;
			--img-right: 15px;

			padding: 15px;
			@include media-breakpoint-up(xxl){
				padding: 0 10px 77px 10px;
			}
			align-items: flex-end;
		}
		&:nth-child(4){
			--clip-path: polygon(0 100%,0 25%,25% 0,100% 0);
			--img-top: 0;
			--img-left: 15px;

			align-items: flex-end;
			justify-content: flex-end;

			padding: 15px;
			@include media-breakpoint-up(xxl){
				padding: 0 10px 77px 10px;
			}
		}
	}
	&__txt-box{
		color: $dark;

		@include media-breakpoint-up(lg){
			width: rem(280px);
		}
		@include media-breakpoint-up(xxl){
			width: rem(313px);
		}
	}
	&__title{
		display: block;
		color: $dark;
		&:hover{
			color: $primary;
		}

		font-weight: bold;

		@include media-breakpoint-up(lg){
			font-size: rem(20);
		}
		line-height: 1.1;
		margin-bottom: rem(18);
	}
	&__txt{
		margin-bottom: 20px;
		@include media-breakpoint-up(lg){
			max-width: 294px;
			margin-bottom: 0;
		}
		line-height: 1.65;
	}
	&__img{
		display: block;
		@include mt();

		@include media-breakpoint-down(lg){
			width: 100%;
			height: 200px;
		}
		@include media-breakpoint-up(lg){
			clip-path: var(--clip-path);
			width: var(--img-h);
			height: var(--img-h);
			position: absolute;

			top: var(--img-top, unset);
			right: var(--img-right, unset);
			bottom: var(--img-bottom, unset);
			left: var(--img-left, unset);

			&:hover{
				width: calc(var(--img-h) + 40px);
				height: calc(var(--img-h) + 40px);
				box-shadow: 0px 21px 25px rgba(0, 0, 0, 0.4);
			}
		}

		picture{
			width: 100%;
			height: 100%;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	//
	&__{}
	&__{}
} // end.sDesisions