mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section#headerBlock&attributes(attributes)
		+e.bg--elipse
		+e.bg--bot-line.d-none.d-sm-block
			img(src="img/svg/hb-bot-line.svg	" alt="")
		+e.bg--right
			img(src="img/@2x/headerBlock-bg3.png" alt="")
		.container
			.row.gy-5
				+e.txt-col.col-lg-6
					+b.section-title
						h1
							| Проекты
							br
							| для бизнеса
							br
							| и людей
						p  Мы предлагаем широкий спектр IT услуг с индивидуальным подходом и инновационными идеями для любой сферы бизнеса.
						p
							| Мы осуществляем комплексную разработку custom* it решений.
							| Высоконагруженных систем, решений для частного бизнеса (CRM, информационная безопасность).
						p Отдельным направлением является разработка бренда включая разработку&nbsp;его коммуникативной и&nbsp;визуальной стратегии.
					+e.btn.link-modal-js(href='#begin-cowork' data-title="Начать сотрудничать" data-order="Форма на первом экране: начать сотрудничать") Начать сотрудничать
				+e.partners-col.col-lg.ms-lg-auto
					+e.p-title Клиенты и партнеры:
					+e.p-items.row.gy-3.gy-sm-0
						+pItem(1, '200')
						+pItem(2, '400')
						+pItem(3, '600')
						+pItem(4, '800')
						+pItem(5, '1000')
						+pItem(6, '1200')
	// end headerBlock

mixin pItem(imgNum, delay)
	+e.p-item.partenrs-item-js.wow.fadeIn.col-6.col-sm-auto(class=`headerBlock__p-item--${imgNum}` data-wow-duration='0.6s' data-wow-delay=`${delay}ms`)
		+pic(`partners-${imgNum}.png`,'',0)
		//- img(loading="lazy" src=`img/@2x/partners-${imgNum}.png` alt="")
