mixin sReadySet(data)
	// start sReadySet
	+b.SECTION.sReadySet.section#sReadySet&attributes(attributes)
		.container
			+e.inner
				+e.text
					h2 Закажи готовый  комплект
					+pic(`sReadySet-img.png`)
					ul
						li 500 меток UHF RFID
						li Терминал сбора данных
						li Лицензия на использование системы управления
					.row
						+e.price.col-xl-6.col-auto
							strong 125 000 
							| руб
						.col-xl-6.col-auto 
							+e.btn(data-order="Закажи готовый комплект" data-title="Закажи готовый комплект" href='#begin-cowork').link-modal-js Заказать комплект
	// end sReadySet