mixin sProjects(data)
	// start sProjects
	+b.SECTION.sProjects.section#sProjects&attributes(attributes)
		+e.ball-cont
			+e.ball
		+e.container.container.fadeIn.wow(data-wow-duration='.4s' data-wow-delay='.3s')
			+b.section-title
				h2 Проекты
			+b.tabs
				+e.caption.swiper.sProject-tabs-slider-js.gallery-thumbs2
					.swiper-wrapper
						+sTabsSlide('worldskill')(class="active")
						+sTabsSlide('РОстелеком')
						+sTabsSlide('Росбанк')
						+sTabsSlide('Компания')
						+sTabsSlide('Еще компания')
				+e.wrap.gallery-top2.swiper
					.swiper-wrapper
						mixin slide()
							+e.slide.swiper-slide&attributes(attributes) 
								+sProjectsBox()
						+slide()
						+slide()
						+slide()
						+slide()
						+slide()
	// end sProjects

mixin sProjectsBox()
	+b.sProjects-box
		+e.row.row.gy-5
			.col-lg-auto
				+pic('sProjects-img.png')(class="sProjects-box__img")
				//-+e.img
					img(loading="lazy" src="img/@2x/sProjects-img.png" alt="")
			.col-lg
				+e.H3.sub-title Worldskills
				+e.descr-txt Агентство развития профессионального мастерства
				+e.pills-row.row.gy-2
					.col-auto
						+e.pill(href="#") Страхование
					.col-auto
						+e.pill(href="#") Мобильное приложение
				+e.descr-row.row
					+sProjectsBoxItem()
						| Предоставляет услуги полного цикла по разработке, внедрению и сопровождению IT-решений.
					+sProjectsBoxItem()
						| Предоставляет услуги полного цикла по разработке, внедрению и сопровождени
					+sProjectsBoxItem()
						| Предоставляет услуги полного цикла по разработке, внедрени
					+sProjectsBoxItem()
						| Предоставляет услуги полного цикла по разработке,
				+e.learn-more-btn.link-modal-js(href="#begin-cowork" data-order="Узнать больше о проекте:  ") Узнать больше

mixin sProjectsBoxItem()
	+e.col.col-lg-6
		block