mixin mob-mnu()
	+b.menu-mobile--js.d-lg-none
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+e.logo(href='/')
				img(loading="lazy" src='img/svg/logo.svg' alt="")
			+mnu()
			+e.btn-cont
				+e.btn(href="#sColor") Связаться с нами
	//  мобильное меню

mixin top-nav() 
	// start top-nav
	+b.top-nav--js.block-with-lazy
		.container
			+e.box
				.row.align-items-center
					.col
						+e.logo(href='#')
							img(loading="lazy" src='img/svg/logo.svg' alt="")
					.col-auto.d-none.d-lg-block
						+mnu()
					.col-auto.d-none.d-sm-block
						+e.connect-btn(href='#sColor') Связаться с нами
					.col-auto.d-lg-none
						+b.toggle-menu-mobile--js
							span
	// end top-nav