mixin sCards(data)
	// start sCards
	+b.SECTION.sCards.section#sCards&attributes(attributes)
		+e.ball-cont
			+e.ball
		.container
			+b.section-title
				h2 Ключевые компетенции
			+e.row.row.gy-4
				+sCardsItem('Мы занимаемся разработкой высокотехнологичных порталов и интегрированных веб–систем, ')
					| Веб
					br
					| Разработка
				+sCardsItem('Мы занимаемся разработкой высокотехнологичных порталов и интегрированных веб–систем, ')
					| Корпоративные
					br
					| системы
				+sCardsItem('Мы занимаемся разработкой высокотехнологичных порталов и интегрированных веб–систем, ')
					| Дизайн и
					br
					| 3д моделлинг
				+sCardsItem('Мы занимаемся разработкой высокотехнологичных порталов и интегрированных веб–систем, ')
					| Мобильные
					br
					| приложения
				+sCardsItem('Мы занимаемся разработкой высокотехнологичных порталов и интегрированных веб–систем, ')
					| Техническое
					br
					| сопровождение
				+sCardsItem('Мы занимаемся разработкой высокотехнологичных порталов и интегрированных веб–систем, ')
					| Индивидуальные
					br
					| решения

	// end sCards

mixin sCardsItem(descr)
	.col-sm-6.col-lg-4.sCards-item-js
		+e.item(href='#')
			+e.title
				span.h3
					block
			+e.descr=descr