mixin sFurtherDevelopment(data)
	// start sFurtherDevelopment
	+b.SECTION.sFurtherDevelopment.section#sFurtherDevelopment&attributes(attributes)
		.container
			h2 Дальнейшее развитие
			ul 
				li 
					span Объединение компании  и&nbsp;менеджеров по&nbsp;продажам со&nbsp;складскими остатками
				li 
					span Разработка и&nbsp;внедрение модуля отправки отчетности
				li 
					span Мы&nbsp;постоянно следим за&nbsp;обновлением законодательства и&nbsp;нововведениями бизнеса, потому планируем развитие  продукта на&nbsp;постоянной основе
	// end sFurtherDevelopment