mixin sFurtherDevelopment(data)
	// start sFurtherDevelopment
	+b.SECTION.sFurtherDevelopment.section#sFurtherDevelopment&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sFurtherDevelopment
				
			.row
	// end sFurtherDevelopment