mixin sWhatYouGet(data)
	// start sWhatYouGet
	+b.SECTION.sWhatYouGet#sWhatYouGet&attributes(attributes)
		.container.section
			+e.text 
				h2 Что вы получите
				ol
					li Сокращение временных затрат на&nbsp;поддержание и&nbsp;обработку объектов 
					li Проведение мгновенной инвентаризации
					li Возможность мониторинга складских территорий и&nbsp;помещений
					li Исключение челевоческого фактора
				a(href="#") Начать сотрудничество
				+pic("img.png",'',0)
	// end sWhatYouGet