mixin mnu()
	-
		var nav= {
			"Услуги":"#",
			"Команда":"#",
			"Контакты":"#",
			"Решения":"#",
			}
	+b.navMenu
		ul
			each linkPatch, linkName in nav
				li
					a(href="#")=linkName
		
//- /menu